:root{
    --primary:#62109F;
    --second:#444444;
    --therty:#f0f0f0;
    --font-p:'Inter', sans-serif;
    --font-j:'Poppins', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


.menu-toggle {
    display:none;
}

.overlay{
    position: absolute;
    right:-10;
}

.nav-brand{
    display:flex;
    gap:10px;
    align-items: center;
}

nav{
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:9999;
    align-items: center;
    padding:1.5rem 3rem;
    box-shadow: 0 6px 18px rgba(16,24,40,0.12);
    background-color: white;
}

.nav-brand a{
    font-size:2rem;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
}

.nav-brand i{
    font-size:3rem;
    color:var(--primary);
}

.nav-menu{
    display: flex;
    gap:20px;
    
}

.nav-menu li{
     position: relative;
     line-height:2;
}

.nav-menu li a{
    color:var(--second);
    font-size:1.5rem;
    font-family:var(--font-j) ;
    text-decoration: none;
    padding: 6px 0;
   
}

.nav-menu li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height:3px;
  background:var(--primary);
  transition: width .3s ease;
}

.nav-menu li a:hover::after {
  width: 100%;
}
.li-span-menu{
    color:var(--primary);
    font-weight:700;
}

.hero{
    background-color:#f0f0f0;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    padding-top: 8rem;
    margin:5rem auto;
}

.nama-hero{
    font-size:1.5rem;
    font-family:var(--font-j);
}
.kolom-tulisan-hero h2{
    color:var(--primary);
    font-size: 4rem;
    font-family:var(--font-j);
    max-width:500px;
    margin-bottom: 1.5rem;
}


.kolom-tulisan-hero p{
   font-size: 1.3rem;
   font-family: var(--font-p);
   max-width: 650px;
   line-height: 1.6;
   color: var(--second);
   margin-bottom:3rem;
}

.kolom-tulisan-hero a{
   font-family: var(--font-p);
   font-size: 1.3rem;
   color:white;
   padding:1rem 1.5rem;
   background-color: var(--primary);
   border-radius: 5px;
   transition:all .5s ease;
}

.kolom-tulisan-hero a:hover{
  box-shadow: 0 0 14px rgba(124, 58, 237, 0.6);
  filter: brightness(2);
}

svg{
    display:absolute;
    bottom:0;
}

.kolom-gambar-hero{
    max-width:550px;
    position:relative;
     padding-left:2rem;
}

.kolom-gambar-hero img{
    background-color: white;
    border-top-left-radius:200px ;
    border-bottom-right-radius: 100px;
    padding: 30px 50px 0px 50px;
}

.kolom-gambar-hero .fa-solid-atas{
    font-size:6rem;
    color: var(--primary);
    position:absolute;
    top:-20px;
    right:-40px;
    animation:spinner 5s alternate-reverse infinite;
}

.kolom-gambar-hero .fa-solid-bawah{
    font-size:6rem;
    color: var(--primary);
    position:absolute;
    bottom:-20px;
    left: -40px;
    animation:spinner 5s alternate-reverse infinite;
}

@keyframes spinner{
    from{
        
    }

    to{
        transform: rotate(1200deg);
    }
}




.tentang{
    background-color:white;
    width:100%;
    min-height:80vh;
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    gap:30px;
    scroll-margin-top:5rem;
}

.kolom-tulisan-tentang h2{
    color:var(--primary);
    font-size:2.8rem;
    font-family:var(--font-j);
    max-width: 900px;
    margin-bottom: 1.5rem;
}

.kolom-tulisan-tentang p{
   font-size: 1.3rem;
   font-family: var(--font-p);
   max-width: 650px;
   line-height: 1.6;
   color: var(--second);
   margin-bottom:3rem;
   text-align: justify;
}

.p-span-tentang{
    font-weight: 700;
}
img{
    width:100%;
}

.kolom-gambar-tentang img{
   background-color:#f0f0f0;
}

.kolom-gambar-tentang{
    max-width:100%;
    position: relative;
}
.sosialmedia{
    max-width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius:10px;
    position: absolute;
    bottom:-40px;
    left:25%;
    gap:20px;
    animation:shadow 4s infinite alternate-reverse ;
}


.sosialmedia a{
    color: var(--primary);
    font-size:2rem;
}

.sosialmedia a{
     transition: all .3s ease-in-out;
}
.sosialmedia a:hover{
     transform: scale(1.5);
  

}

.social-facebook:hover{
    color:#1877F2;
}
.social-instagram:hover{
    color: #F58529 → #DD2A7B → #8134AF → #515BD4 ;
       filter: brightness(2);
}
.social-youtube:hover{
    color:#FF0000;
}
.social-whatsapp:hover{
    color: #25D366;
}




@keyframes shadow{
    from{
      opacity: 0.5;
    }

    to{
    
        opacity: 1;
        box-shadow: 0 0 14px rgba(124, 58, 237, 0.6);
    }
}


.softskill{
    margin:10rem auto;
     scroll-margin-top:8rem;
}

.deskripsi-softskill{
    text-align: center;
}

.deskripsi-softskill h2{
    font-size:2.8rem; ;
    font-family: var(--font-j);
    margin-bottom:1rem;
}

.deskripsi-softskill p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
}

.nama-softskill{
    color: var(--primary);
}

.menu-softskill{
    margin-top:5rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.kolom-satu-softskill{
    max-width:600px;
    padding:2rem;
    margin: 2rem;
    background-color: var(--therty);
}

.kolom-satu-softskill i{
   font-size: 2.5rem;
   margin-bottom:1rem;
   color: var(--primary);
}
.kolom-satu-softskill h3{
    font-size:1.5rem;
    font-family: var(--font-p);
    margin-bottom: 1rem;
}

.kolom-satu-softskill p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
    text-align: justify;
    line-height:1.6;
}
.hardskill{
    min-height: 100vh;
    background:var(--therty);
    padding:5rem 0;
}

.deskripsi-hardskill{
    text-align: center;
}

.deskripsi-hardskill h2{
    font-size:2.8rem; ;
    font-family: var(--font-j);
    margin-bottom:1rem;
}

.deskripsi-hardskill p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
}

.nama-hardskill{
    color: var(--primary);
}

.menu-hardskill{
    margin-top:5rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.kolom-satu-hardskill{
    max-width:600px;
    padding:2rem;
    margin: 2rem;
    background-color: white;
    border-radius: 10px;
}

.kolom-satu-hardskill i{
   font-size: 2.5rem;
   margin-bottom:1rem;
   color: var(--primary);
}
.kolom-satu-hardskill h3{
    font-size:1.5rem;
    font-family: var(--font-p);
    margin-bottom: 1rem;
}

.kolom-satu-hardskill p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
    text-align: justify;
    line-height:1.6;
}


.project{
    min-height: 100vh;
    background:white;
    padding:5rem 0;
    margin: 10rem 0;
    scroll-margin-top:4rem;
}

.deskripsi-project{
    text-align: center;
}

.deskripsi-project h2{
    font-size:2.8rem; ;
    font-family: var(--font-j);
    margin-bottom:1rem;
}

.deskripsi-project p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
}

.nama-project{
    color: var(--primary);
}

.menu-project{
    margin-top:5rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.kolom-satu-project{
    max-width:400px;
    margin: 2rem;
    background-color:var(--therty);
    border-radius: 10px;
    transition: all .5s ease;
}

.kolom-satu-project:hover{
     box-shadow: 0 0 14px rgba(124, 58, 237, 0.6);
     transform: scale(1.1);
}

.kolom-satu-project i{
   font-size: 2.5rem;
   margin-bottom:1rem;
   color: var(--primary);
}
.kolom-satu-project h3{
    font-size:1.5rem;
    font-family: var(--font-p);
    margin-top:1rem;
    padding: 1rem;
}

.kolom-satu-project p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
    text-align: justify;
    line-height:1.6;
    padding: 1rem;
}

.kolom-satu-project img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.deskripsi-pengalaman{
    text-align: center;
    scroll-margin-top:8rem;
}


.deskripsi-pengalaman h2{
    font-size:2.8rem; ;
    font-family: var(--font-j);
    margin-bottom:1rem;
}

.deskripsi-pengalaman p{
    font-size:1.3rem;
    font-family: var(--font-p);
    color: var(--second);
}

.nama-pengalaman{
    color: var(--primary);
}


.pengalaman{
    background-color:white;
    width:100%;
    min-height:80vh;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    
}

.kolom-tulisan-pengalaman h2{
    color:var(--primary);
    font-size:2.8rem;
    font-family:var(--font-j);
    max-width: 900px;
    margin-bottom: 1.5rem;
}

.kolom-tulisan-pengalaman p{
   font-size: 1.3rem;
   font-family: var(--font-p);
   max-width: 650px;
   line-height: 1.6;
   color: var(--second);
   margin-bottom:3rem;
   text-align: justify;
}

.p-span-pengalaman{
    font-weight: 700;
}
.pengalamanlagi{
    background-color:var(--therty);
    width:100%;
    min-height:80vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.kolom-tulisan-pengalamanlagi h2{
    color:var(--primary);
    font-size:2.8rem;
    font-family:var(--font-j);
    max-width: 900px;
    margin-bottom: 1.5rem;
}

.kolom-tulisan-pengalamanlagi p{
   font-size: 1.3rem;
   font-family: var(--font-p);
   max-width: 650px;
   line-height: 1.6;
   color: var(--second);
   margin-bottom:3rem;
   text-align: justify;
}

.p-span-pengalamanlagi{
    font-weight: 700;
}


.kolom-gambar-pengalaman i{
    font-size: 10rem;
}

.kolom-span-project{
  box-shadow: 0 0 14px rgba(124, 58, 237, 0.6);
  transform: scale(1.1);
}

.p-hardskill,.p-pengalaman,.p-project{
    padding:0px 40px 0px 40px;
}
img{
    width:100%;
}


.footer{
    margin-top: 10rem;
    width:100%;
    padding:5rem 0 0 0;
    background-color:#0f0a1a;

}

.bagian-footer-pertama{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.kolom-footer-brand{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 1.3rem;
    font-family: var(--font-j);
}

.kolom-footer-brand i{
    font-size:5rem;
    color: var(--primary);
}



.kolom-footer-satu{
    font-size: 1.3rem;
    font-family: var(--font-p);
}
.kolom-footer-satu li{
    margin-top: 1.5rem;
    color:#d4d4d4;
}

.kolom-footer-satu li a{
    color: #d4d4d4;
}


.bagian-footer-kedua{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: var(--font-p);
    background-color: black;
    color:#d4d4d4;
    margin-top: 4rem;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-menu{
    color:var(--primary);
    font-weight: 700;
}

.peta-footer{
    width:400px;
}




   





@media (max-width: 1245px) {
  html {
    font-size:80%;  /* 35px */
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background: white;
    z-index: 9999;
    box-shadow: 0 6px 18px rgba(16,24,40,0.12);
}

/* tombol hamburger */
.menu-toggle {
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
}

/* --- SIDEBAR --- */
.nav-menu {
    position: fixed;
    top: 0;
    left: -260px;    /* disembunyikan */
    width: 260px;
    height: 100vh;
    background: #fff;
    box-shadow: 6px 0 18px rgba(16,24,40,0.12);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: left .4s ease;
    z-index: 9999;
}

/* ketika aktif */
.nav-menu.active {
    left: 0;
}

.nav-menu li a {
    font-size: 1.6rem;
    color: var(--second);
    text-decoration: none;
}

.nav-menu li a:hover {
    color: var(--primary);
}

.nav-menu li a:hover::after {
  width:40%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* hitam transparan */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 8888; /* di bawah sidebar, di atas halaman */
}

/* Saat aktif */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.hero{
    justify-content: center;
    flex-direction: column;
}

.kolom-tulisan-hero{
    text-align: center;
    padding: 0;
  }

  .kolom-tulisan-hero h2{
    color:var(--primary);
    font-size: 4rem;
    font-family:var(--font-j);
    max-width:600px;
    margin: auto;

}

  .hero img{
    margin-top:2rem;

  }

  .pengalaman ,.pengalamanlagi{
    min-height:50vh;
    flex-direction: column;
    padding-block:7rem;
  }


  .kolom-footer-brand{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}

 .kolom-footer-brand i{
    font-size: 50px;
 }


  .bagian-footer-pertama{
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 30px;
  }

  .kolom-tulisan{
    text-align: center;
    padding: 20px;
  }

  .kolom-tulisan p{
    text-align: center;
  }


  img{
     max-width:400px;
  }
}


@media (max-width: 600px) {
  html {
    font-size:60%;  /* 28px */
  }

  svg{
    display: none;
  }
  .hero{
    padding: 0;
    margin: none;
  }

  .kolom-gambar-hero{
    max-width:300px;
    margin-bottom: 5rem;
  }


  img{
    max-width:400px;

  }
}








